<%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/form.css">
    <%- include("../partials/header.ejs") %>
        <main>
            <div class="form-container">
                <% if (error) { %>
                    <div class="error-message">
                        <p>
                            <%= error[0] %>
                        </p>
                    </div>
                    <% } %>
                        <form action="/admin/change/password" method="post">
                            <div class="label-input">
                                <input type="hidden" name="useremail"
                                    value="<%= prevInput ? prevInput.userEmail: user.email %>" readonly>
                            </div>
                            <div class="label-input">
                                <label for="pw">Password:</label>
                                <input type="password" name="pw">
                            </div>
                            <div class="label-input">
                                <label for="confirmpw">Confirm Password:</label>
                                <input type="password" name="confirmpw">
                            </div>
                            <button type="submit" class="btn">Change Password</button>
                        </form>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>